*{
    padding:0%;
    margin:0%;
}
.navbar{
    height: 20%;
    background-color: black;
    display:flex;
    justify-content: space-evenly;
}
.logo{
    align-items: center;
}
#logo {
    height:60px;
    width:81px;
    
    
}
.navoptions{
    display: flex;
    font-size: larger;
    color:aliceblue;
    width: 70%;
    margin-left: 10%;
    justify-content: space-evenly;
    align-items:center;
}
.maindis {
    height: 900px;
    width: 100%;
    background-image: url("stock.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
}
.intro{
      height:50%;
      width: 60%;
}
.introhi{
    height: 100%;
    max-width: 100%;
    font-size: 100px;
    color: red;
    padding-top: 30%;
    padding-left: 31%;
    justify-content: center;
    align-items: center;
}
.profilepic{
    height: 100%;
    width: 100%;
    margin-top: 28%;
    background-image: url("okay.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.pro{
    height: 425px; 
    width: 425x;
    align-items:center;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 39%;
    
}

 
 
